.ansaetze-container {
  padding-top: 70px;
}
.groups {
  font-size: 20px;
}
.project-title {
  display: flex;
  align-items: center;
}

.approach-title {
  font-size: 1.5rem;
  margin: 50px;
  text-align: center;
  align-items: center;
}

.approach-name {
  margin: 30px;
  display: inline-block;
}

.topnav {
  position: fixed;
  display: flex;
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: grey;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6b9e1f;
  color: white;
}

.DP-3T {
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: white;
}

.PEPP-PT {
  background-color: #e8e8e8;
  padding-top: 100px;
  padding-bottom: 30px;
}

.DCTS {
  background-color: #e8e8e8;
  padding-top: 100px;
  padding-bottom: 30px;
}

.img-responsive {
  width: 30px;
  height: 30px;
  border: 0;
}

.diagram {
  max-width: 75%;
  height: auto;
  object-fit: contain;
  padding: 50px;
}

.graphic {
  width: auto;
  text-align: center;
  padding: 20px;
}

.paragraph {
  width: 75%;
  padding: 50px;
  margin: 0 auto;
}

#member {
  padding: 50px;
}

.ansaetze-github-link {
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.pepp-pt-diagram {
  width: 55%;
}

.ansaetze-intro {
  padding: 220px 280px 200px 280px;
  display: flex;
}
.ansaetze-vergleich {
  font-size: medium;
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  .paragraph {
    padding: 0;
    width: 90%;
  }
  .paragraph p {
    margin: 0;
  }
  .paragraph h3 {
    margin: 5px 0;
  }
  .ansaetze-github-link {
    padding: 5px 0;
  }
  .diagram {
    padding: 0;
    max-width: 100%;
  }
  .pepp-pt-diagram {
    width: 100%;
  }
  .DP-3T {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .PEPP-PT {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .DCTS {
    padding-top: 0;
    padding-bottom: 240px;
  }
  .ansaetze-intro {
    padding: 80px 20px;
    display: block;
  }
  .ansaetze-intro p {
    margin: 5px 0;
  }
  .ansaetze-vergleich {
    padding: 0;
  }
}
