.ansaetze-container {
  padding-top: 70px;
}
.groups {
  font-size: 20px;
}
.project-title {
  display: flex;
  align-items: center;
}

p {
  font-size: 1rem;
  margin: 30px;
}

h2 {
  font-size: 1.5rem;
  margin: 50px;
  text-align: center;
}

h3 {
  margin: 30px;
  display: inline-block;
}

h4 {
  font-size: 1rem;
}

.topnav {
  position: fixed;
  display: flex;
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: grey;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6b9e1f;
  color: white;
}

.overview-table {
  padding-top: 60px;
  padding-bottom: 60px;
}

.DP-3T {
  background-color: #e8e8e8;
  padding-top: 100px;
  padding-bottom: 30px;
}

.PEPP-PT {
  padding-top: 100px;
  padding-bottom: 30px;
}

.DCTS {
  padding-top: 100px;
  padding-bottom: 30px;
}

.img-responsive {
  width: 30px;
  height: 30px;
  border: 0;
}

.diagram {
  max-width: 75%;
  height: auto;
  object-fit: contain;
  padding: 50px;
}

.graphic {
  width: auto;
  text-align: center;
  padding: 20px;
}

.paragraph {
  width: 75%;
  padding: 50px;
  margin: 0 auto;
}

#member {
  padding: 50px;
}

table {
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid lightgray;
}

th {
  font-size: large;
  height: 50px;
  background-color: #6b9e1f;
  color: white;
}

th,
td {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

.ansaetze-github-link {
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.pepp-pt-diagram {
  width: 55%;
}

@media only screen and (max-width: 768px) {
  .paragraph {
    padding: 0;
    width: 90%;
  }
  .paragraph p {
    margin: 0;
  }
  .paragraph h3 {
    margin: 5px 0;
  }
  .ansaetze-github-link {
    padding: 5px 0;
  }
  .diagram {
    padding: 0;
    max-width: 100%;
  }
  .pepp-pt-diagram {
    width: 100%;
  }
  .DP-3T {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .PEPP-PT {
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .DCTS {
    padding-top: 0;
    padding-bottom: 240px;
  }
}
