.page-container {
  padding: 270px 220px;
  display: flex;
}
.corona-abstand {
  padding-top: 100px;
}
.page-title-img {
  width: 552px;
  height: 187px;
}

.secondary-block {
  margin-top: 150px !important;
  height: fit-content;
  overflow: auto;
}
.corona-link {
  font-size: medium;
  color: #6b9e1f;
  margin-left: 5px;
}

.github-link {
  color: #6b9e1f;
  display: flex;
  align-items: center;
}
.page-container ul {
  list-style: none;
  padding-left: 10px;
}
.cwa-diagram {
  max-width: 100%;
}
.page-container li::before {
  color: #6b9e1f;
  content: "\2022";
  padding: 10px;
}
.code-block-container {
  padding: 5px;
  margin: 10px 0;
  background-color: #e8e8e8;
  white-space: pre;
}

.img-responsive {
  width: 30px;
  height: 30px;
  border: 0;
}

.download-img-row {
  text-align: center;
  margin-top: 5px;
}

.download-img-column-left {
  width: 221px;
  height: 66px;
  margin-right: 10px;
}
.download-img-column-right {
  width: 225px;
  height: 67px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .page-container {
    padding: 80px 20px 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .page-container p {
    margin: 10px 0;
  }

  .page-title-img {
    width: 250px;
    height: 84px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    margin-left: 0;
  }

  .github-link {
    padding: 5px 0;
  }

  .download-img-column-left {
    width: 167px;
    height: 50px;
    margin: 0px;
  }
  .download-img-column-right {
    width: 170px;
    height: 51px;
    margin: 0px;
  }
  .corona-abstand {
    padding-top: 40px;
  }
  .secondary-block {
    margin-top: 20px !important;
  }
}
