p {
  font-size: 1rem;
  margin: 30px;
}

h1 {
  font-size: 1.5rem;
  margin: 50px;
  text-align: center;
}

.info {
  width: 75%;
  padding: 50px;
  margin: 0 auto;
}

.kontakt-links {
  color: #6b9e1f;
}
