p {
  font-size: 1rem;
  margin: 30px;
}

h1 {
  font-size: 1.5rem;
  margin: 50px;
  text-align: center;
}

.info {
  width: 75%;
  padding: 50px;
  margin: 0 auto;
}

.formular {
  width: 75%;
  padding: 30px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #6b9e1f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #6b9e1f;
}
