.about-container {
  padding: 30px;
}
.about-second-container {
  display: flex;
  padding: 150px;
  padding-bottom: 0;
}
.about-main {
  font-size: medium;
  width: 50%;
  padding: 40px;
}
.about-member-container {
  display: flex;
  justify-content: space-between;
  padding: 0 210px;
}
.abschnitt {
  padding: 5px 20px;
  font-weight: 500;
}

.team-title {
  padding: 10px 25px;
  font-size: medium;
  color: #6b9e1f;
  font-weight: 700;
}
.about-link {
  margin-left: 10px;
  font-size: medium;
  color: #6b9e1f;
}
@media only screen and (max-width: 768px) {
  .about-container {
    padding: 0;
  }
  .about-second-container {
    display: block;
    padding: 0;
  }
  .about-member-container {
    display: block;
    padding: 10px 20px 100px 20px;
  }
  .about-main {
    width: 100%;
    padding: 80px 0 0 0;
  }
  .about-container ul {
    padding-left: 30px;
  }
}
