.vergleich-container {
  padding: 90px 30px;
}
.vergleich-container table {
  border-collapse: collapse;
  width: 70%;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  table-layout: fixed;
  border: 1px solid lightgray;
}

.vergleich-container th {
  border: 1px solid lightgray;
  font-size: large;
  height: 50px;
  background-color: #6b9e1f;
  color: white;
}

.vergleich-container td {
  padding: 15px;
  border: 1px solid lightgray;
}

.vergleich-container tr:nth-child(even) {
  background-color: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  .vergleich-container {
    padding: 70px 20px;
  }
  .vergleich-container p {
    margin: 0;
  }
  .vergleich-container table {
    width: 100%;
  }
  .vergleich-container td {
    padding: 2px;
    font-size: smaller;
  }
  .vergleich-container th {
    font-size: small;
    padding: 2px;
  }
  .vergleich-container summary {
    font-size: smaller;
  }
  .vergleich-container b {
    font-size: smaller;
  }
  b > p {
    font-size: smaller;
  }
}
